.button {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--Purple, #5221e6);

  color: var(--White, #fff);

  /* Button_18px */
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
  margin: 0 10px;
}

.btn__Container{

    display: flex;

}

@media screen and (max-width: 600px) {
    .btn__Container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .button{
        margin: 10px ;
    }
}
